<hr />
<div class="text-centered">
    <p>Besuche uns bald wieder!</p>
    <a class="btn" href="https://login.flipdot.org/" target="_blank">Konto</a>
    <a href="https://drinks.flipdot.space/" class="btn" target="_blank">Bar vor Ort aufladen</a>
    <p>
        Oder aufladen mittels Überweisung. Auf Verwendungszweck achten:
    </p>
</div>
<table>
    <tbody>
        <tr>
            <td>
                Kontoinhaber
            </td>
            <td>
                flipdot e.V.
            </td>
        </tr>
        <tr>
            <td>
                IBAN
            </td>
            <td>
                DE07 5205 0353 0001 1477 13
            </td>
        </tr>
        <tr>
            <td>
                Bank
            </td>
            <td>
                Kasseler Sparkasse
            </td>
        </tr>
        <tr>
            <td>
                Verwendungszweck
            </td>
            <td>
                drinks {{ uid }} <em>Freitext</em>
            </td>
        </tr>
    </tbody>
</table>
