{% extends "layout.html" %}

{% block body %}
    <h1>
        Guthabenwarnung
    </h1>
    <p>
        Du hast seit mehr als {{delta | format_timedelta}} ein Guthaben unter {{minimum_balance}}&thinsp;€!
        <br>
        Dein aktuelles Guthaben beträgt <strong>{{balance}}&thinsp;€</strong>.
    </p>
    <div class="text-centered">
        <a href="https://drinks.flipdot.space/" class="btn">
            <span>
                Bar vor Ort aufladen
            </span>
        </a>
    </div>
    {% include "sepa.html" %}
{% endblock %}
