<h1>
    Getränkebericht
</h1>
<p>
    Hier ist deine Getränkeübersicht{% if last_drink_notification_sent_at %} seit dem {{ last_drink_notification_sent_at | format_datetime }}{% endif %}.
    <br>
    Dein aktuelles Guthaben beträgt
    {% if balance > 0 %}
    +{{ balance }}&thinsp;€.
    {% else %}
    {{ balance }}&thinsp;€.
    {% endif %}
</p>
<h2>
    Abbuchungen
</h2>
{% if not drinks %}
Keine neuen Abbuchungen.
{% else %}
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Datum
            </th>
            <th>
                Getränk
            </th>
            <th>
                Größe
            </th>
        </tr>
    </thead>
    <tbody>
        {% for drink in drinks %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ drink.timestamp.strftime("%F %T Z") }}
            </td>
            <td>
                {{ drink.name }}
            </td>
            <td>
                {{ drink.size }}&thinsp;l
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h2>
    Aufladungen
</h2>
{% if not recharges %}
Keine neuen Aufladungen.
{% else %}
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Datum
            </th>
            <th>
                Wert
            </th>
        </tr>
    </thead>
    <tbody>
        {% for recharge in recharges %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ recharge.timestamp.strftime("%F %T Z") }}
            </td>
            <td>
                {{ recharge.amount }}&thinsp;€
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
<p class="text-centered">
    Besuchen Sie uns bald wieder!
</p>
<div class="text-centered" id="buttons">
    <form action="http://drinks-touch.fd/">
        <button title="http://drinks-touch.fd/" type="submit">
            <span>
                Aufladen
            </span>
        </button>
    </form>
</div>
