<h1>
    Getränkebericht
</h1>
<p>
    Hier ist deine Getränkeübersicht{% if last_drink_notification_sent_at %} seit dem {{ last_drink_notification_sent_at | format_datetime }}{% endif %}.
    <br>
    Dein aktuelles Guthaben beträgt
    {% if balance > 0 %}
    +{{ balance }}&thinsp;€.
    {% else %}
    {{ balance }}&thinsp;€.
    {% endif %}
</p>
<h2>
    Transaktionen
</h2>
{% if not transactions %}
Keine neuen Transaktionen.
{% else %}
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Datum
            </th>
            <th>
                Verwendungszweck
            </th>
            <th>
                Betrag
            </th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ tx.created_at.strftime("%F %T Z") }}
            </td>
            <td>
                {{ tx.payment_reference }}
            </td>
            <td style="text-align: right;">
                {{ tx.amount }}&thinsp;€
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
