<p>
    Aufladen mittels Überweisung. Auf Verwendungszweck achten:
</p>
<table>
    <tbody>
        <tr>
            <td>
                Kontoinhaber
            </td>
            <td>
                flipdot e.V.
            </td>
        </tr>
        <tr>
            <td>
                IBAN
            </td>
            <td>
                DE07 5205 0353 0001 1477 13
            </td>
        </tr>
        <tr>
            <td>
                Verwendungszweck
            </td>
            <td>
                drinks {{ uid }} <em>Freitext</em>
            </td>
        </tr>
    </tbody>
</table>
