<table>
    <tbody>
        <tr>
            <td>
                Kontoinhaber
            </td>
            <td>
                flipdot e.V.
            </td>
        </tr>
        <tr>
            <td>
                IBAN
            </td>
            <td>
                DE07 5205 0353 0001 1477 13
            </td>
        </tr>
        <tr>
            <td>
                Verwendungszweck
            </td>
            <td>
                drinks {{ uid }} <abbr title="Der Hinweistext ist frei wählbar">hinweistext</abbr>
            </td>
        </tr>
    </tbody>
</table>