flask
flask-compress
pyStrich # sudo apt-get install python-pil
influxdb
jinja2
keyboard
Pillow
premailer
psycopg2-binary
pygame==2.0.0.dev18 # dev14 offers Python 3.9 support
python-ldap # sudo apt-get install python-dev libldap2-dev libsasl2-dev libssl-dev
qrcode
requests
sqlalchemy
werkzeug