
.form-grid {
    display: grid;
    /* Create two columns: one for labels (auto-sized), one for inputs (takes rest of space) */
    grid-template-columns: 1fr min-content;
    /* Add spacing between rows and columns */
    gap: var(--spacing-unit);
    /* Vertically align the label text with the center of the input box */
    align-items: center;
    /*justify-items: start;*/
}

.form-grid input[type="number"],
.form-grid input[type="text"] {
    width: 12em;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-grid input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    /*box-sizing: border-box;*/
}