.main-nav {
    background-color: var(--color-subtle-background);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    margin-top: 1.5rem;
    z-index: 100;
    position: relative;
    view-transition-name: navbar;
}

.nav-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    justify-content: space-between; /* Spreads items evenly */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0.25rem 0;
}

.nav-list li.active a {
    background-color: var(--color-border);
    /*view-transition-name: nav-active-item;*/
}

.nav-list a {
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: var(--color-border);
    text-decoration: none; /* Remove underline on hover for a cleaner look */
}

@media (max-width: 600px) {
    .nav-list a {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}