table {
    border-collapse: collapse;
    width: 100%;
}

table a:hover {
    text-decoration: none;
}

th, td {
    padding: 8px;
}

tr {
    transition: background-color 0.2s ease;
}

tr.even {
    background-color: color-mix(in srgb, var(--color-subtle-background) 40%, transparent);
}

tr:hover {
    background-color: var(--color-background-focus);
}

th {
    background-color: var(--color-subtle-background);
    border-color: var(--color-subtle-background);
}

td.actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

td.actions > * {
    margin: 0;
}