{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block body %}
    <h1>Getränkescanner</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% include "recharge.html" %}
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="d-none" id="qrcode"/>
            <span class="d-none" id="qrcode_hint">Bitte wähle einen Benutzer und gib einen Betrag ein.</span>
        </div>
    </div>
    {# include "stats.html" #}
{% endblock %}
