DSD_FORCE_MAIL_TO=
DSD_FPS=
DSD_LDAP_HOST=
DSD_LDAP_PW=
DSD_LOGLEVEL=
DSD_MAIL_FROM=
DSD_MAIL_HOST=
DSD_MAIL_PORT=
DSD_MAIL_PW=
DSD_MONEY_PASSWORD=
DSD_MONEY_URL=
DSD_MONEY_USER=
DSD_NO_CHANGES=
DSD_NO_MAILS=
DSD_POSTGRES_CONNECTION_STRING=
