<header class="header">
    <div class="header-left">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/mate.svg') }}" alt="Logo"
                                              class="logo"></a>
        <h1><a href="{{ url_for('index') }}">drinks-touch</a></h1>
    </div>
    <div class="header-right">
        {% if current_user %}
            <span><a href="{{ url_for('account.index') }}">{{ current_user.name }}</a></span>
            <span {% if current_user.balance < 0 %}
                class="text-negative"{% endif %}>{{ current_user.balance }}&nbsp;€</span>
        {% else %}
            <a href="{{ url_for('oidc_auth.login') }}">Anmelden</a>
        {% endif %}
    </div>
</header>