<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getränkescanner - {% block title %}{% endblock %}</title>
    <link href="/favicon.png" type="image/png" rel="icon">
    <link href="/static/dist/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
    {% block body %}
        <h1>Empty site!</h1>
    {% endblock %}
    </div>
    <script src="/static/dist/main.bundle.js"></script>
  </body>
</html>
