<h2>Guthaben aufladen</h2>
<p>Um Guthaben aufzuladen, gehe folgendermaßen vor:</p>
<ol>
    <li>Zahle den aufzuladenden Betrag in die Kasse ein.</li>
    <li>Wähle deinen Namen aus und gib den aufzuladenden Betrag ein.</li>
</ol>

<form action="/recharge/doit" method="POST">
    <fieldset class="form-grid">
        <legend>Aufladedaten</legend>

        <label for="user_user">Aufladen für:</label>
        <select name="user_user" id="user_user">
            <option value="" selected disabled>Konto wählen</option>
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }}</option>
            {% endfor %}
        </select>

        <label for="amount">Betrag in €:</label>
        <input type="number" name="amount" step="0.01" id="amount" value="" placeholder="0.00">
    </fieldset>

    <button type="submit" class="btn btn-default">
        Aufladung durchführen
    </button>
</form>