<div id="heading">
    <h1>
        Guthabenwarnung
    </h1>
    <div class="logo left"></div>
</div>
<p>
    Du hast seit mehr als {{ diff_days }} Tagen ein Guthaben unter {{ minimum_balance }}&thinsp;€!
    <br>
    Dein aktuelles Guthaben beträgt {{ balance }}&thinsp;€.
</p>
<form action="http://drinks-touch.fd/">
    <button title="http://drinks-touch.fd/" type="submit">
        <span>
            Aufladen
            <div class="open-in-new"></div>
        </span>
    </button> auch per <a href="#sepa" title="flipdot Kontodaten">SEPA-Überweisung</a>.
</form>
